* {
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
	outline: 0;
}

body {
	background-color: #fff;
	color: #60606e;
	font-family: "Rubik", "Montserrat", sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}

a {
	color: #60606e;
	transition: all .2s ease-in-out;
	text-decoration: none;
}

a:hover, a:focus {
	color:#60606e;
	text-decoration: none;
}

a:hover::after {
	width: 50%;
}

li {
	text-decoration: none;
	list-style: none;
}

.container {
	width: 1350px;
	margin: 0 auto;
}

/* Header */
.main-header {
	margin-bottom: 95px;
}

header.header {
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	z-index: 11;
}

header.header .logo {
	float: left;
	height: 100px;
	line-height: 100px;
}

.menu {
	float: right;
}

/* descktop-nav */
nav.descktop-nav {
	float: left;
}

nav.descktop-nav ul.first-level > li {
	position: relative;
	float: left;
}

.first-level__link {
	position: relative;
	display: inline-block;
	line-height: 100px;
	transition: 0;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 700;
}

.first-level__link::after {
	position: absolute;
	content: "";
	top: 50px;
	left: 0;
	width: 70%;
	height: 1px;
	background-color: #60606e;
	opacity: 0;
}

nav.descktop-nav ul.first-level > li:hover > a::after {
	top: 35px;
	width: 70%;
	opacity: 1;
	transition: all .3s ease-in-out;
}

.second-level {
	position: absolute;
	display: none;
	top: 70px;
	left: 0;
	min-width: 200px;
	background-color: #60606e;
	z-index: 999;
}

.second-level__link {
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	color: #fff;
}

.second-level__link:hover,
.second-level > li:nth-child(even) > a:hover {
	background-color: #404051;
	color: #fff;
}

.second-level > li:nth-child(even) > a {
	background-color: #585866;
	color: #fff;
}

.first-level li:hover > ul.second-level {
	display: block;
	transition: all .3s ease;
}

.second-level__link:hover {
	padding-left: 30px;
}

/* mobile navbar */
.mobile-navbar {
	position: absolute;
	display: none;
	display: inline-block;
	min-width: 300px;
	top: 100px;
	right: 0;
	background-color: #60606e;
}

/* clas="section-title" */
.section-title {
	width: 50%;
	margin: 0 auto 25px;
	text-align: center;
}

.section-title span {
	position: relative;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color:#60606e;
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}

.section-title span::after{
	position: absolute;
	content: "";
	background-color: #7beec7;
	top: 20px;
	left: 0;
	z-index: -1;
	width: 60px;
	height: 20px;
}

/* <section class="about"> */
.about {
	position: relative;

	height: 550px;
	width: 1350px;
	width: 100%;
	background: url('../images/site-hero2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.about__page-title {
	position: absolute;
	top:50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.about__big-title {
	font-size: 36px;
	margin-bottom: 22px;
}

.about__small-title {
	font-size: 14px;
}

/* <section class="description"> */
.description {
	margin-bottom: 125px;
}

.description__title p {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1.3px;
}

.description p {
	line-height: 24px;
	color:#60606e;
	line-height: 26px;
}

/* <section class="benefits"> */
.benefits {
	margin-bottom: 125px;
}

.benefits__title p {
	line-height: 22px;
}

.benefits__unit {
	margin-bottom: 40px;
}

.benefits__unit p {
	line-height: 22px;
}

.benefits__unit-title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.benefits__unit-title img {
	display: inline-block;
	background-color: #7beec7;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-right: 20px;
}

.benefits__unit-title span {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color:#60606e;
	text-transform: uppercase;
	font-weight: 700;
}