* {
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
	outline: 0;
}

body {
	background-color: #fff;
	color: #60606e;
	font-family: "Rubik", "Montserrat", sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}

a {
	color: #60606e;
	transition: all .2s ease-in-out;
	text-decoration: none;
}

a:hover, a:focus {
	color:#60606e;
	text-decoration: none;
}

a:hover::after {
	width: 50%;
}

li {
	text-decoration: none;
	list-style: none;
}

.container {
	width: 1350px;
	margin: 0 auto;
}

/* Header */
.main-header {
	margin-bottom: 95px;
}

header.header {
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	z-index: 11;
}

header.header .logo {
	float: left;
	height: 100px;
	line-height: 100px;
}

.menu {
	float: right;
}

/* descktop-nav */
nav.descktop-nav {
	float: left;
}

nav.descktop-nav ul.first-level > li {
	position: relative;
	float: left;
}

.first-level__link {
	position: relative;
	display: inline-block;
	line-height: 100px;
	transition: 0;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 700;
}

.first-level__link::after {
	position: absolute;
	content: "";
	top: 50px;
	left: 0;
	width: 70%;
	height: 1px;
	background-color: #60606e;
	opacity: 0;
}

nav.descktop-nav ul.first-level > li:hover > a::after {
	top: 35px;
	width: 70%;
	opacity: 1;
	transition: all .3s ease-in-out;
}

.second-level {
	position: absolute;
	display: none;
	top: 70px;
	left: 0;
	min-width: 200px;
	background-color: #60606e;
	z-index: 999;
}

.second-level__link {
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	color: #fff;
}

.second-level__link:hover,
.second-level > li:nth-child(even) > a:hover {
	background-color: #404051;
	color: #fff;
}

.second-level > li:nth-child(even) > a {
	background-color: #585866;
	color: #fff;
}

.first-level li:hover > ul.second-level {
	display: block;
	transition: all .3s ease;
}

.second-level__link:hover {
	padding-left: 30px;
}

/* mobile navbar */
.mobile-navbar {
	position: absolute;
	display: none;
	display: inline-block;
	min-width: 300px;
	top: 100px;
	right: 0;
	background-color: #60606e;
}

/* clas="section-title" */
.section-title {
	width: 50%;
	margin: 0 auto 25px;
	text-align: center;
}

.section-title span {
	position: relative;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color:#60606e;
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}

.section-title span::after{
	position: absolute;
	content: "";
	background-color: #7beec7;
	top: 20px;
	left: 0;
	z-index: -1;
	width: 60px;
	height: 20px;
}

/* <section class="about"> */
.about {
	position: relative;

	height: 550px;
	width: 1350px;
	width: 100%;
	background: url('../images/site-hero2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.about__page-title {
	position: absolute;
	top:50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.about__big-title {
	font-size: 36px;
	margin-bottom: 22px;
}

.about__small-title {
	font-size: 14px;
}

/* <section class="description"> */
.description {
	margin-bottom: 125px;
}

.description__title p {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1.3px;
}

.description p {
	line-height: 24px;
	color:#60606e;
	line-height: 26px;
}

/* <section class="benefits"> */
.benefits {
	margin-bottom: 125px;
}

.benefits__title p {
	line-height: 22px;
}

.benefits__unit {
	margin-bottom: 40px;
}

.benefits__unit p {
	line-height: 22px;
}

.benefits__unit-title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.benefits__unit-title img {
	display: inline-block;
	background-color: #7beec7;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-right: 20px;
}

.benefits__unit-title span {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color:#60606e;
	text-transform: uppercase;
	font-weight: 700;
}



/* feedbackForm */
.feedbackForm {
	background-color: #7beec7;
}

.feedbackForm .container .row {

}

.left-side__row {
	margin: 60px 0;
}

.left-side .row > span {
	display: block;
	font-size: 30px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: #fff;
	margin-bottom: 45px;
}

.btn {
	height: 50px;
	line-height: 50px;
	min-width: 150px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-radius:0;
	padding: 0;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.btn:hover {
	-webkit-transform:scale(1.01);
	-ms-transform:scale(1.01);
	transform:scale(1.01);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.btn.green {
	background-color: #7beec7;
	color:#fff;
}
.btn.white {
	background-color: #fff;
	color:#7beec7;
}

.btn.white-btn {
	background-color: #fff;
	color: #7beec7;
}

.btn .white-btn span {

}

.right-side {
	background-color: #fff;
	padding: 20px;
	margin: 60px 0;
}

.right-side__row {
	margin: 0;
}

.right-side__row > span {
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	margin-bottom: 10px;
}


.right-side p {
	font-family: "Open sans", sans-serif;
	color: #999;
	line-height: 30px;
	margin-bottom: 10px;
}

form {
	display: block;
}

.input-block {
	width: 530px;
	height: 50px;
	border: 1px solid rgba(0, 0, 0, .1);
	margin-bottom: 30px;
}

.input-block input {
	position: relative;
	width: 100%;
	height: 100%;
	border: 0;
	float: left;
	background-color: transparent;
	z-index: 2;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	color: #9a9a9a;
}

.input-block span {
	position: absolute;
	top: 50%;
	left: 20px;
	padding: 0 20px;
	transform: translateY(-50%);
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color:#cdcdcd;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	z-index: 1;
}

.input-block > span.active,
.textarea_1 > span.active {
	color: #7beec7;
	font-size: 10px;
	top: 0px;
	left: 5px;
	background-color: #fff;
	padding: 5px;
}

/* Footer */
.footer {
	padding: 50px 0;
}

.footer__nav ul {
	padding: 0;
	margin: 0;
}

.footer__nav ul li {
	list-style: none;
	float: left;
	margin: 0 20px;
	padding: 0;
}

.footer__nav ul li:first-child {
	margin: 0 20px 0 0;
}

.animation {
	position: relative;
	text-transform: uppercase;
	color:#9a9a9a;
}

.animation::after {
	position: absolute;
	content: "";
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #7beec7;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	opacity: 0;
}

.footer__nav-ul > li:hover > a::after {
	opacity: 1;
	width: 100%;
}

.row-right {
	display: flex;
	justify-content: flex-end;
}

.rights {
	margin-bottom: 25px;
}

.fab {
	width: 34px;
	height: 34px;
}

.social-icons {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 250px;
}

.social-icons a:hover {
	color: #7beec7;
}

i {
	font-size: 24px;
}

/* section class="dream" */
.dream {
	margin-bottom: 40px;
}

.dream__title {
	display: inline-block;
	width: 50%;
	margin: 0 auto 60px;
	text-align: center;
}

.dream__title span {
	position: relative;
	display: inline-block;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #60606e;
	margin-bottom: 20px;
}

.dream__title span::after {
	position: absolute;
	content: "";
	top: 15px;
	left: 0;
	z-index: -1;
	width: 60px;
	height: 20px;
	background-color: #7beec7;

}

.dream__title p {
	font-size: 16px;
	line-height: 24px;
	color: #60606e;
}

.dream__member {
	position: relative;
	margin-bottom: 30px;
}

.dream__member,    
.dream__member img {
	width: 260px;
	height: 330px;
}

.dream__member-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	opacity: 0;
	background-color: rgba(255,255,255,.8);
}

.dream__member-info {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dream__member-job {
	display: inline-block;
	margin-top: 10px;
	background-color: #7beec7;
	padding: 5px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	transition: all .2s ease-in-out .3s;
	opacity: 0;
}

.dream__member-link:hover .dream__member-hover,
.dream__member-link:hover .dream__member-name,
.dream__member-link:hover .dream__member-job {
	opacity: 1;
}

.dream__member-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .8);
	opacity: 0;
	transition: all .2s ease-in-out;
}

.dream__member-link:hover .dream__member-hover,
.dream__member-link:hover .dream__member-name,
.dream__member-link:hover .dream__member-job {
	transform: translateY(0);
}

.dream__member-info {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dream__member-name {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #60606e;
	font-size: 18px;
	transition: all .5s ease-in-out .3s;
	opacity: 0;
}

.dream__member-job {
	display: inline-block;
	font-style: normal;
	font-weight: 700;
	background-color: #7beec7;
	padding: 5px;
	color: #fff;
	margin-top: 5px;
	transform: translateY(20px);
	transition: all .5s ease-in-out .5s;
	opacity: 0;
}

/*  section class="accordion" */
.accordion__title {
	display: inline-block;
	width: 50%;
	margin: 0 auto 60px;
	text-align: center;
}

.accordion__title span {
	position: relative;
	display: inline-block;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #60606e;
	margin-bottom: 20px;
}

.accordion__title span::after {
	position: absolute;
	content: "";
	top: 15px;
	left: 0;
	z-index: -1;
	width: 60px;
	height: 20px;
	background-color: #7beec7;

}

.accordion__title p {
	font-size: 16px;
	line-height: 24px;
	color: #60606e;
}

.accordion__wrapper {
	padding: 15px 30px;
	margin-bottom: 40px;
	background-color: #efeff0;
}

.accordion__block {
	margin:  12px 0;
}

.accordion__item {

}

.accordion__summary {
	font-weight: 700;
	margin-bottom: 8px;
}

.accordion__summary::-webkit-details-marker {
	display: none;
}


.accordion__body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding-left: 12px;
}

.btn {
	height: 50px;
	line-height: 50px;
	min-width: 150px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-radius:0;
	padding: 0;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.btn:hover {
	-webkit-transform:scale(1.01);
	-ms-transform:scale(1.01);
	transform:scale(1.01);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.btn.green {
	background-color: #7beec7;
	color:#fff;
}
.btn.white {
	background-color: #fff;
	color:#7beec7;
}