@media (max-width: 991px) {
	.menu nav.descktop-nav {
		display: none;
	}

	.btn{
		margin: 20px 0;
	}

	.services__left {
		text-align: center;
		margin-bottom: 50px;
	}

	.portfolio .categories-grid span {
		margin-bottom: 0;
		text-align:center;
		width:100%;
	}

	.portfolio .categories-grid .categories ul li {
		text-align: center;
	}

	.portfolio .categories-grid .categories ul li a {
		margin-left: 0;
	}

	.footer * {
		text-align: center;
	}

	.social-icons {
		float: left;
		width: 100%;
		text-align: center;
	}

	.icon {
		margin: 0;
		width: -webkit-calc(100% / 6);
		width: calc(100% / 6)
	}

	.animation {
		text-align: center;
		width: 100%;
	}

	.animation,
	.animation:first-child {
		margin-left: 0;
		margin-bottom: 20px;
	}
}