* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 0;
}

body {
	background-color: #fff;
	color: #60606e;
	font-family: "Rubik", "Montserrat", sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}

a {
	color: #60606e;
	transition: all .2s ease-in-out;
	text-decoration: none;

}

a:hover, a:focus {
	color:#60606e;
}

a:hover::after {
	width: 50%;
}

li {
	text-decoration: none;
	list-style: none;
}

.container {
	width: 1350px;
/* 	height: 100vh;
*/	margin: 0 auto;
}

/* Header */
.main-header {
	height: 880px;
	width: 1350px;
	width: 100%;
	background: url('../images/site-hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

header.header {
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	z-index: 11;
}

header.header .logo {
	float: left;
	height: 100px;
	line-height: 100px;
}

.menu {
	float: right;
}

/* descktop-nav */
nav.descktop-nav {
	float: left;
}

nav.descktop-nav ul.first-level > li {
	position: relative;
	float: left;
	margin-right: 20px;
}

nav.descktop-nav ul.first-level > li:last-child {
	margin-right: 0;
}

.first-level__link {
	position: relative;
	display: inline-block;
	line-height: 100px;
	transition: 0;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 700;
}

.first-level__link::after {
	position: absolute;
	content: "";
	top: 50px;
	left: 0;
	width: 70%;
	height: 1px;
	background-color: #60606e;
	opacity: 0;
}

nav.descktop-nav ul.first-level > li:hover > a::after {
	top: 35px;
	width: 70%;
	opacity: 1;
	transition: all .3s ease-in-out;
}

.second-level {
	position: absolute;
	display: none;
	top: 70px;
	left: 0;
	min-width: 200px;
	background-color: #60606e;
	z-index: 999;
}

.second-level__link {
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	color: #fff;
}

.second-level__link:hover,
.second-level > li:nth-child(even) > a:hover {
	background-color: #404051;
	color: #fff;
}

.second-level > li:nth-child(even) > a {
	background-color: #585866;
	color: #fff;
}

.first-level li:hover > ul.second-level {
	display: block;
	transition: all .3s ease;
}

.second-level__link:hover {
	padding-left: 30px;
}

/* mobile navbar */
.mobile-navbar {
	position: absolute;
	display: none;
	display: inline-block;
	min-width: 300px;
	top: 100px;
	right: 0;
	background-color: #60606e;
}

/* section class="slide-header" */
.slide-header {
	position: relative;
	width: 100%;
	height: 100%;
}

.sliders {
	position: absolute;
	top: 10px;
	width: 100%;
	height: 450px;
}

.sliders li {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%, -50%);
	text-align: center;
	opacity: 0;
}

.small-title {
	display: inline-block;
	padding: 7px 12px;
	color: #60606e;
	background-color: #7beec7;
}

.big-title {
	display: inline-block;
	padding: 10px 40px;
	margin-bottom: 30px;
	font-size: 48px;
	color: #60606e;
	border: 10px solid #60606e;
}

.sliders p {
	width: 50%;
	margin: 0 auto;
	color: #60606e;
}


.history-agency {
	width: 100%;
	height: auto;
	float: left;
	margin-top: -330px;
}

.agency__image {
	position: relative;
	display: block;
	width: 500px;
	height: 336px;
	background-color: #dcdcdc;
}

.agency__image img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 400px;
	object-fit: cover;
}

.title {
	text-align: left;
	width: 100%;
	margin: 0 auto 30px;
}

.title span {
	position: relative;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color: #60606e;
	margin-bottom: 20px;
	z-index: 1;
}

.title span::after {
	position: absolute;
	content: "";
	top: 20px;
	left: 0;
	z-index: -1;
	width: 60px;
	height: 20px;
	background-color: #7beec7;
}

.agency p {
	font-family: "Montserrat", sans-serif;
	line-height: 20px;
	margin: 0 0 27px;
	color:#60606e;
}

.btn{
	height: 50px;
	line-height: 50px;
	min-width: 150px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-radius:0;
	padding: 0;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.btn:hover{
	-webkit-transform:scale(1.01);
	-ms-transform:scale(1.01);
	transform:scale(1.01);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.btn.green{
	background-color: #7beec7;
	color:#fff;
}
.btn.white{
	background-color: #fff;
	color:#7beec7;
}

/* services */
.services {
	margin-top: 220px;
}

.services__left {
	height: 550px;
}

.services__left-uprow {
	margin-bottom: 50px;
}

.services__title {
	display: inline-block;
	width: 50%;
	margin: 0 auto 100px;
	text-align: center;
}

.services__title span {
	position: relative;
	display: inline-block;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color: #60606e;
	margin-bottom: 20px;
}

.services__title span::after {
	position: absolute;
	content: "";
	top: 20px;
	left: 0;
	z-index: -1;
	width: 60px;
	height: 20px;
	background-color: #7beec7;

}

.services__left-title {
	width: 330px;
}

.services__title p {
	line-height: 24px;
	color: #60606e;
}

.icon {
	display: block;
	font-size: 36px;
	margin-bottom: 10px;
}

.services__left ul li {
	list-style: none;
	line-height: 30px;
	text-transform: uppercase;
	color: #999;
}

.services__left-title {
	font-size: 18px;
	margin-bottom: 20px;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}